{% extends "util/base.html" %}

{% block main-container %}
    <hr/>
    {% for conversation_group_chapters in cgsc %}
        <div class="row">
            <div class="col-lg-6">
              <span >{{conversation_group_chapters.chapter}}</span><span>{{conversation_group_chapters.page}}</span>
            </div>
        </div>
    {% endfor %}
    <div class="row chapter">
    </div>

{% for conversation_group in cgs %}
    <hr/>
    {% if conversation_group.chapter %}
        <div class="row chapter">
            <div class="col-lg-12">
              <h1>{{conversation_group.chapter}}</h1>
            </div>
        </div>
    {% endif %}

    {% for conversation in conversation_group.conversations.all %}
    <div class="row">
        <div class="col-lg-12">
          <h3>{{conversation.date}}</h3>
        </div>
    </div>

        {% for message in conversation.messages.all %}
        <div class="row">
            <div class="col-lg-12">
            {% if message.is_same_last_author %}
            {% else %}
              <h4>{{message.author}}:</h4>
            {% endif %}
              <p>{{message.msg}}</p>
            </div>
        </div>

        {% endfor %}
    {% endfor %}


{% endfor %}

{% comment %}
<div class="row">
    <div class="col-lg-12">
      <h3>Annanda</h3>
      <p>Olha pra mim eu sou linda.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
      <h3>Felipe</h3>
      <p>É você é linda mesmo!.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
      <h3>Annanda</h3>
      <p>Mas é claro! =D.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
      <h3>Felipe</h3>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    </div>
</div>
 {% endcomment %}
 {% endblock %}