{% extends "util/bootstrap_h5bp.html" %}
{% load staticfiles %}


{% block page-title %}presente_14{% endblock %}

{% block meta-description %}A new Project{% endblock %}

{% block meta-keywords %}{% endblock %}

{% block meta-author %}Felipe Arruda Pontes{% endblock %}

{% block meta-generator %}Django 1.6{% endblock %}

{% block meta-extras %}{% endblock %}


{% block 'css-extras' %}
<link rel="stylesheet" type="text/css" media="print" href="{% static "css/print.css" %}">
{% endblock %}

{% block 'js-imports' %}
{% endblock %}


{% block jquery-docready %}
{% endblock %}

{% block jquery-winload %}{% endblock %}

{% block js-onpage %}{% endblock %}


{% block analytics %}
{% endblock %}
